@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors;
  }

  h3 {
    @apply text-xl;
  }
}

* {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  color: var(--dark);
}

:root {
  --dark: theme(colors.dark);
  --light: theme(colors.light);
}

html.dark {
  --dark: theme(colors.light);
  --light: theme(colors.dark)
}