@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-xl;
  }
}

* {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  color: theme(colors.dark);
}

:root {
  --dark: theme(colors.dark);
  --light: theme(colors.light);
}